#mybox{
    background-color: beige;
    width: 500px;
    height: 500px;
    font-family: 'Times New Roman', Times, serif;
    border: solid black;
}
h1{
    color: cadetblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
button{
    position: relative;
    left: 180px;
    color: aliceblue;
    background-color: chartreuse;
}
body{
    padding-left: 400px;
    padding-bottom: 200px;
}
